 section p{
 	width: 550px;
 	line-height: 30px;
  te ;
 	text-align: justify;
 	font-family: 'arial','trebuchet MS';
 }	
 header h1{
 	  color: blue;
    font-size: 2em;
    font-family: 'arial','trebuchet MS';
 	}

 	

